

 .auth-container{
    background-image: url("../components/Authorisation/Background/workshop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 101vh;
}


.col-centered {
    background-color: white;
    border-radius: 5px;
    position: relative;
    top: 10%;
    padding-top: 10px !important;
    max-width: 100px !important;

}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .auth-container {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .auth-container {
        padding-left: 30%;
        padding-right: 30%;
    }
}
@media screen and (min-width: 1200px) {
     .auth-container {
         padding-left: 35%;
         padding-right: 35%;
     }
 }
