

 .auth-container{
    background-image: url("../components/Authorisation/Background/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 102vh;
    padding-left: 15%;
    padding-right: 15%;
}


.col-centered {
    background-color: white;
    border-radius: 5px;
    position: relative;
    top: 15vh;
    padding-top: 10px !important;
    max-width: 450px !important;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .auth-container {
        padding-left: 25%;
        padding-right: 25%;
    }
}

@media screen and (min-width: 1200px) {
    .auth-container {
        padding-left: 30%;
        padding-right: 30%;
    }
}
